# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================

env/
venv/
.venv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Django
# ==========================

db.sqlite3
media/
staticfiles/

# Collected static files
static_root/

# Logs
*.log

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================

.coverage
.pytest_cache/
htmlcov/

# ==========================
# MyPy
# ==========================

.mypy_cache/

# ==========================
# Ruff
# ==========================

.ruff_cache/

# ==========================
# Build Files
# ==========================

build/
dist/
*.egg-info/